<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nikitagordia.aplay">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/AppThemeNoBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".SearchActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".Managers.HeadManager">
            <intent-filter>

                <action android:name="com.nikitagordia.aplay.Managers.HeadManager.PLAY"/>
                <action android:name="com.nikitagordia.aplay.Managers.HeadManager.NEXT"/>
                <action android:name="com.nikitagordia.aplay.Managers.HeadManager.PREV"/>

            </intent-filter>
        </receiver>
    </application>

</manifest>